$color_alert: #f47073;
$color_active: #2F80ED;
$color_active-light: rgba(47, 128, 237, 0.1);
$color_contrast-dark: #a60c0e;
$color_contrast: #ec1115;
$color_dark: #343541;
$color_grey: #85868d;
$color_light-grey-input: #e5e5e5;
$color_light-input: #f0f0f0;
$color_light: #fef6f6;
$color_white: #ffffff;
