@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$font_btn: 'Roboto Mono', sans-serif;
$font_description: 'Roboto Mono', sans-serif;
$font_header: 'Eczar', sans-serif;
$font_standard: 'Roboto', sans-serif;