@import "../variables/variables.scss";

%paletteContrastWhite {
    color: $color_white;
    background-color: $color_contrast;
}

%paletteWhiteContrast {
    background-color: $color_white;
    color: $color_contrast;
}

%paletteLightDark {
    background-color: $color_light;
    color: $color_dark;
}
