@import "./colorPalettes.scss";

%btn {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: $font-btn;
    font-size: 22px;
    margin-bottom: 41px;
    width: 310px;
    height: 64px;

    @mixin forMediumScreens($breakpoint-medium, $breakpoint-large) {
        width: 256px;
    }

    @include forLargeScreens($breakpoint-large) {
        width: 256px;
        margin: 10px;
        padding: 10px 30px;
    }

    &:active {
        border: 5px solid $color_alert;
        margin: 5px;
    }
}

%btn-white {
    @extend %paletteWhiteContrast;
}

%btn-contrast {
    @extend %paletteContrastWhite;

    &:hover {
        background-color: $color_contrast-dark;
    }
}
