%text-header {
    font-family: $font_header;
    font-size: 40px;
    font-weight: 600;
    text-align: center;

    @include forMediumScreens($breakpoint-medium, $breakpoint-large) {
        font-size: 80px;
        margin: 0 80px;
    }

    @include forLargeScreens($breakpoint-large) {
        font-size: 80px;
        margin: 0 0 0 40px;
    }
}

%text-description {
    font-family: $font_description;
        font-size: 22px;
        line-height: 37px;
}