@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.main-content {
    @extend %columnCentered;
    width: 100%;
    padding: 0;
    margin: 0;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        width: 90%;
    }

    @include forLargeScreens($breakpoint-large) {
        width: 90%;
    }
}