@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.nav-bar {
    @extend %rowSpaceBetween;
    @extend %marginPaddingStandard;
    width: 90%;

    .btn {
        @extend %btn;
        font-size: 16px;
        height: 48px;
        width: 110px;
    }

    .btn-contrast {
        @extend %btn-contrast;
        width: 110px;
    }

    .btn-white {
        @extend %btn-white;
        width: 140px;
    }

    .btns-container {
        display: none;
    
        @include forLargeScreens($breakpoint-large) {
            display: flex;
        }
    }

    .logo {
        @extend %marginPaddingZero;
    }
}
