@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.navbar {
    @extend %rowSpaceBetween;
    @extend %marginPaddingStandard;
    width: 90%;

    .navbar__btn--contrast {
        @extend %btn;
        @extend %btnContrast;
        font-size: 16px;
    }

    .navbar__btns--large-display {
        display: none;

        @include forLargeScreens($breakpoint-large) {
            display: flex;
        }
    }

    .navbar__btn--white {
        @extend %btn;
        @extend %btnWhite;
        font-size: 16px;
    }

    .navbar__logo {
        @extend %marginPaddingZero;
    }
}
