@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.booking {
    @extend %columnCentered;
    margin: 80px 0 120px 0;
    width: 90%;

    .booking__text--description {
        @extend %text-description;
    }

    .booking__text--large {
        @extend %text-large;
    }

    .form {
        @extend %columnCentered;
    }

    .form__btn {
        @extend %btn;
    }

    .form__btn--contrast {
        @extend %btn-contrast;
    }

    .form__btn--text-small {
        font-size: 14px;

        @include forMediumScreens($breakpoint-medium, $breakpoint-large) {
            font-size: 18px;
        }

        @include forLargeScreens($breakpoint-large) {
            font-size: 18px;
        }
    }

    .form__btn--wide {
        height: 56px;
        width: 271px;
        margin: 0 0 80px 0;

        @include forMediumScreens($breakpoint-medium, $breakpoint-large) {
            width: 472px;
        }

        @include forLargeScreens($breakpoint-large) {
            width: 472px;
        }
    }

    .form--hidden {
        display: none;
    }

    .form__input {
        border-radius: 8px;
        font-family: $font_standard;
        font-size: 17px;
        height: 55px;
        margin: 10px 40px 40px 40px;
        padding-left: 20px;
        width: 251px;

        @include forMediumScreens($breakpoint-medium, $breakpoint-large) {
            width: 452px;
        }

        @include forLargeScreens($breakpoint-large) {
            width: 452px;
        }

        &:focus {
            margin: 9px 39px 39px 39px;
        }
    }

    .form__input--grey-blue {
        background-color: $color_light-input;
        border: none;
        color: $color_grey;

        @include forMediumScreens($breakpoint-medium, $breakpoint-large) {
            &:hover {
                background-color: $color_light-grey-input;
            }
        }

        @include forLargeScreens($breakpoint-large) {
            &:hover {
                background-color: $color_light-grey-input;
            }
        }

        &:focus {
            outline: none;
            border: 1px solid $color_active;
            background-color: $color_active-light;
        }
    }

    .form__label {
        margin: 0 0 0 80px;
    }

    .form__label--alert {
        @extend %text-label;
        color: $color_alert;
        font-size: 14px;
    }

    .notification {
        @extend %columnCentered;
        @extend %articleBoxShadow;
        height: 380px;
        padding: 60px;
        width: 100%;

        @include forMediumScreens($breakpoint-medium, $breakpoint-large) {
            border-radius: 24px;
            width: 480px;
        }

        @include forLargeScreens($breakpoint-large) {
            border-radius: 24px;
            width: 480px;
        }
    }

    .notification__text--standard {
        @extend %text-standard;
    }
}
