@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.online-booking {
    @extend %columnCentered;
    margin: 80px 0;

    .btn {
        @extend %btn;
    }

    .btn-contrast {
        @extend %btn-contrast;

        @include forLargeScreens($breakpoint-large) {
            margin: 0 0 80px 0;
        }
    }

    .notification {
        @extend %columnCentered;
        @extend %articleBoxShadow;
        width: 480px;
        height: 380px;
        border-radius: 24px;
        padding: 60px;

        p {
            font-family: $font_standard;
            text-align: center;
            font-size: 22px;
            line-height: 37px;
        }
    }

    h1 {
        font-family: $font_header;
        font-weight: 600;
        font-size: 80px;
        line-height: 82px;
        margin: 80px 80px 0 80px;

    }

    p {
        font-family: $font_description;
        font-size: 22px;
        line-height: 37px;
    }
}